infrastructure_environment = $infrastructure_environment
application_environment = $application_environment
application_name = $application_name 
application_acronym = $application_acronym 
tenant_id = $tenant_id 
vnet_app_ip_address = $vnet_app_ip_address 
mandatory_tags = $mandatory_tags
create_optional_tags = $create_optional_tags 
optional_tags = $optional_tags